<div ng-controller='BillionaireLoansController'>
  
  <h2>Bank</h2>
  <table class='table'>

      <tr ng-repeat="loan in session.allLoans">
          <td>
              {{loan.name}}
          </td>
          <td>
              {{loan.maximum}}
          </td>
          <td>
              {{loan.interestRate}}
          </td>
          <td>
              <button ng-click="openLoanModal(loan)">Take Loan</button>
          </td>
      </tr>
  </table>
  <div class="modal fade" id='takeLoanModal'>
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Loan Offer:
                      <strong>{{loanOffer.name}}</strong>
                  </h4>
              </div>
              <div class="modal-body">
                  <p>{{loanOffer.description}}</p>
                  <p ng-hide="!loanOffer.technical">
                      <strong>{{loanOffer.technical}}</strong>
                  </p>
                  <p ng-hide="loanOffer.requirement(session)">
                      <em>{{loanOffer.requirementMessage}}</em>
                  </p>

                  <table class='table'>
                      <tr>
                          <td>
                              Available Credit
                          </td>
                          <td>
                              {{loanOffer.maxCredit | currency}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Amount Requested:
                          </td>
                          <td>
                              $
                              <input ng-model="loanOffer.amountRequested">
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Your Monthly Interest
                          </td>
                          <td>
                              {{loanOffer.amountRequested * loanOffer.interestRate / 12 | currency}}
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" ng-class="{disabled: !loanOffer.requirement(session)}" ng-click="confirmTakeLoan(loanOffer)">Accept</button>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->


  <h2>Your Debts</h2>
  <table class='table'>

      <tr ng-repeat="loan in session.player.loans">
          <td>
              {{loan.name}}
          </td>
          <td>
              {{loan.balance}}
          </td>
          <td>
              {{loan.interestRate}}
          </td>
          <td>
              {{loan.balance * loan.interestRate / 12}}
          </td>
          <td>
              <button ng-click="openRepayLoanModal(loan)">Repay Loan</button>
          </td>
      </tr>
  </table>

  <div class="modal fade" id='repayLoanModal'>
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Repay Loan:
                      <strong>{{loanToBeRepayed.name}}</strong>
                  </h4>
              </div>
              <div class="modal-body">
                  <p ng-hide="!loanToBeRepayed.technical">
                      <strong>{{loanToBeRepayed.technical}}</strong>
                  </p>
                  <p ng-hide="loanToBeRepayed.requirement(session)">
                      <em>{{loanToBeRepayed.requirementMessage}}</em>
                  </p>

                  <table class='table'>
                      <tr>
                          <td>
                              Available Owing
                          </td>
                          <td>
                              {{loanToBeRepayed.balance | currency}}
                          </td>
                      </tr>
                      <tr>
                          <td>
                              Amount to Repay:
                          </td>
                          <td>
                              $
                              <input ng-model="loanToBeRepayed.amountToRepay">
                          </td>
                      </tr>
                  </table>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" ng-class="{disabled: loanToBeRepayed.amountToRepay > session.player.cash}" ng-click="confirmRepayLoan(loanToBeRepayed)">Repay Loan</button>
              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->

</div>