<div ng-hide="!session.player.loans.length">
<h3>Your Debts</h3>
  <table class='table'>
    <tr ng-repeat="loan in session.player.loans">
        <td>
            Loan
        </td>
        <td>
            Balance
        </td>
        <td>
            Interest Rate
        </td>
        <td>
            Monthly Payment
        </td>
        <td>
        
        </td>
    </tr>
      <tr ng-repeat="loan in session.player.loans">
          <td>
              {{loan.name}}
          </td>
          <td>
              {{loan.balance | currency}}
          </td>
          <td>
              {{loan.interestRate}}
          </td>
          <td>
            {{loan.balance * loan.interestRate / 12 | currency}}
          </td>
          <td>
              <button ng-click="openRepayLoanModal(loan)">Repay Loan</button>
          </td>
      </tr>
  </table>
</div>