<head>
    <title>Billionaire!</title>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="script.js"></script>
    <script src="Billionaire/billionaireStocks.js"></script>
    <script src="Billionaire/billionaireJobs.js"></script>

    <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css'>
</head>

<body class='container' ng-controller="BillionaireGame" ng-app="BillionaireGame">
    <h2>Stock Market</h2>
    <table class='table'>

        <tr ng-repeat="stock in session.market.stocks">
            <td>
                <span title="{{stock.name}}">{{stock.symbol}}</span>
            </td>
            <td>
                {{stock.bookValue | currency}}
            </td>
            <td>
                <button ng-click="openBuyStockModal(stock)">BUY</button>
            </td>
        </tr>
    </table>
    <div class="modal fade" id='stockBuyModal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='unpause()'>&times;</button>
            <h4 class="modal-title">Buy Stock: {{currentBuyingStock.name}} <strong>({{currentBuyingStock.symbol}})</strong></h4>
          </div>
          <div class="modal-body">
             <table class='table'>
                <tr>
                    <td>
                       Book Value
                    </td>
                    <td>
                        {{currentBuyingStock.bookValue | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Buy How Many?
                    </td>
                    <td>
                        <input ng-model="currentStockBuyCount">
                    </td>
                </tr>
                <tr>
                    <td>
                       Your Cost
                    </td>
                    <td>
                        {{currentBuyingStock.bookValue * currentStockBuyCount | currency}}
                    </td>
                </tr>
            </table>	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click='unpause()' data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-class="{disabled: currentBuyingStock.bookValue * currentStockBuyCount > session.player.cash}" ng-click="confirmBuyStock(currentBuyingStock,currentStockBuyCount)">Buy</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id='confirmStockBuyModal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"  ng-click='unpause()'>&times;</button>
            <h4 class="modal-title">Bought {{currentStockBuyCount}} x <strong>({{currentBuyingStock.symbol}})</strong></h4>
          </div>
          <div class="modal-body">
            <p>Bought {{currentStockBuyCount}} x <strong>{{currentBuyingStock.symbol}}, {{currentBuyingStock.name}}, for {{currentBuyingStock.bookValue | currency}} each</p>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click='unpause()'>OK</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div>
        <h1>Character</h1>
        
        <table class='table'>
            <tr>
            	<td>
            	    Job
            	</td>
            	<td>
        {{session.player.job.name}}
            	</td>
            	     </tr>
            <tr>
                <td>
                    Cash
                </td>
                <td>
                    {{session.player.cash | currency}}
                </td>
            </tr>
        </table>

        <h3>Your Stocks</h3>
        
        <table class='table'>
            <tr ng-repeat="stock in session.player.stocks">
            	<td>
            	    {{stock.name}}
            	</td>
                <td>
            	    {{stock.bookValue}}
            	</td>
            	    <td>
            		    {{stock.count}}
            		</td>
            </tr>
        </table>
    </div>
    <div>
        <h2>Game</h2>
        <table class='table'>
            <tr>
                <td>
                    Year
                </td>
                <td>
                    {{2014 + session.world.month / 12 | number:0}}
                </td>
            </tr>
            <tr>
                <td>
                    Month
                </td>
                <td>
                    {{session.world.month % 12}}
                </td>
            </tr>
        </table>

    </div>
</body>
