<div class="modal fade" id='actionsModal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='unpause()'>&times;</button>
                <h4 class="modal-title">{{currentActionHappening.name}} - {{currentActionHappening.cost | currency}}</strong>
                </h4>
            </div>
            <div class="modal-body">
                <p>{{currentActionHappening.description}}</p>
                <p>
                    <strong>{{currentActionHappening.technical}}</strong>
                </p>
                <p ng-hide="currentActionHappening.requirement(session)">
                    <em>{{currentActionHappening.requirementMessage}}</em>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" ng-class="{disabled: currentActionHappening.cost > session.player.cash || currentActionHappening.requirement &&!currentActionHappening.requirement(session)}" ng-click="confirmTakeAction(currentActionHappening)">{{currentActionHappening.ok || "Take Action!"}}</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
