<button ng-click="openSellStockModal(holding)">SELL</button>

 <div class="modal fade" id='stockSellModal-{{holding.link.symbol}}'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Sell Stock: {{deal.link.name}} <strong>({{deal.link.symbol}})</strong></h4>
          </div>
          <div class="modal-body">
             <table class='table'>
                <tr>
                    <td>
                       Category
                    </td>
                    <td>
                        {{deal.link.category | uppercase}}  
                    </td>
                </tr>
                <tr>
                    <td>
                       Book Value
                    </td>
                    <td>
                        {{deal.link.bookValue | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Stock Market Price
                    </td>
                    <td>
                        {{deal.link.price | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Bought At
                    </td>
                    <td>
                        {{deal[0].boughtPrice | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Rate of Return
                    </td>
                    <td>
                        {{getROR(deal[0]) | number:1}}%
                    </td>
                </tr>
                <tr>
                    <td>
                       You Own
                    </td>
                    <td>
                        {{deal.length}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Sell How Many?
                    </td>
                    <td>
                        <input class="form-control" ng-model="deal.amountToSell">
                    </td>
                </tr>
                <tr>
                    <td>
                       Capital Gains
                    </td>
                    <td>
                        {{deal.gainPerUnit * deal.amountToSell | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Capital Gains Tax ({{session.market.capitalGainsTax * 100 | number:1}}%)
                    </td>
                    <td>
                        {{deal.gainPerUnit * deal.amountToSell * session.market.capitalGainsTax | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Amount Due
                    </td>
                    <td>
                        {{deal.link.price * deal.amountToSell - deal.amountToSell * deal.taxPerUnit | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Your Cash
                    </td>
                    <td>
                        {{session.player.cash | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       New Cash Balance
                    </td>
                    <td>
                        {{session.player.cash + deal.link.price * deal.amountToSell - deal.taxPerUnit * deal.amountToSell | currency}}
                    </td>
                </tr>
            </table>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-class="{disabled: deal.amountToSell > deal.sharesAvailable}" ng-click="confirmSellStock(deal,deal.amountToSell)">Sell</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->