<h2>Stock Market

</h2>
<!--
 <input class="form-control" placeholder="Search" ng-model='searchFilter'>
-->
<table class='table'>

    <tr ng-repeat="stock in session.market.stocks|filter:searchFilter">
        <td>
            <a href="#/stocks/{{stock.symbol}}">
                <span title="{{stock.name}}">{{stock.symbol}}</span>
            </a>
        </td>
        <td>
            {{stock.price | currency}}
        </td>
        <td>
            <button ng-click="openBuyStockModal(stock)">BUY</button>
        </td>
    </tr>
</table>

<div ng-include="'Billionaire/modules/BillionaireStocks/StockModals/confirmStockBuyModal.html'"></div>
<stock-sell-modal></stock-sell-modal>
<stock-buy-modal></stock-buy-modal>