
    <div class="modal fade" id='stockBuyModal'>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click='unpause()'>&times;</button>
            <h4 class="modal-title">Buy Stock: {{currentBuyingStock.name}} <strong>({{currentBuyingStock.symbol}})</strong></h4>
          </div>
          <div class="modal-body">
             <table class='table'>
             	  <tr>
                    <td>
                       Category
                    </td>
                    <td>
                        {{currentBuyingStock.category}}	
                    </td>
                </tr>
                <tr>
                    <td>
                       Book Value
                    </td>
                    <td>
                        {{currentBuyingStock.bookValue | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Stock Market Price
                    </td>
                    <td>
                        {{currentBuyingStock.price | currency}}
                    </td>
                </tr>
                <tr>
                    <td>
                       Buy How Many?
                    </td>
                    <td>
                        <input ng-model="currentStockBuyCount">
                    </td>
                </tr>
                <tr>
                    <td>
                       Your Cost
                    </td>
                    <td>
                        {{currentBuyingStock.price * currentStockBuyCount | currency}}
                    </td>
                </tr>
            </table>	
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click='unpause()' data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-class="{disabled: currentBuyingStock.price * currentStockBuyCount > session.player.cash}" ng-click="confirmBuyStock(currentBuyingStock,currentStockBuyCount)">Buy</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->